@font-face {
    font-family: RobotoMono;
    src: url(RobotoMono-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoMono;

}

body {
    background-color: rgb(42, 50, 61);
    font-size: large;
}

.team-section1 {
    padding: 120px 5%;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

.team-pretitle1 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #666;
    margin-bottom: 12px;
}

.team-title1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #1a1a1a;
}

.team-subtitle1 {
    font-size: 18px;
    color: #666;
    margin-bottom: 70px;
    font-weight: 500;
}

.team-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-member1 {
    transition: transform 0.4s ease;
}

.team-member1:hover {
    transform: translateY(-12px);
}

.team-image1 {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 28px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    transition: all 0.3s ease;
}

.team-member1:hover .team-image {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.18);
}

.team-name1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1a1a1a;
}

.team-role1 {
    font-size: 16px;
    color: #777;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
    .team-title1 {
        font-size: 38px;
    }

    .team-subtitle1 {
        font-size: 17px;
        margin-bottom: 50px;
    }

    .team-image1 {
        height: 380px;
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .team-section1 {
        padding: 80px 5%;
    }

    .team-title1 {
        font-size: 32px;
    }

    .team-image1 {
        height: 340px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

nav .header {
    text-align: left;
    margin-left: 20px;
    color: #0e0d0d;
    font-size: 50px;
    margin-top: 20px;
}

nav .n {
    margin-right: 50px;
    color: rgb(97, 104, 98);
    font-size: 20px;
}

button:hover {
    margin-top: -2px;
    background-color: chocolate;
    color: white;
}

nav .right {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

nav .left .list {
    display: flex;
    list-style: none
}

.list li a {
    padding: 10px;
    list-style-type: none;
    /* border: 2px solid red; */
    color: rgb(252, 247, 247);
    text-decoration: none;
    font-size: 20px;
}

.icons i {
    color: rgb(141, 68, 68);
    padding: 10px;
    align-items: center;

}

.list li a:hover {
    color: chocolate;
}

section {
    display: flex;
    /* flex-direction: column; */
    margin-top: 50px;
    margin-left: 60px;
    position: sticky;
    /* border: 2px solid red; */

}

.image img {
    width: 40vw;
    height: 70vh;
    object-fit: contain;
}

section .lil h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    transition: 2s;
    font-family: Algerian, serif !important;
}

section .lil h1:hover {
    transform: scale(1.2);
    color: brown;
    transition: 2s;
}

.small {
    margin-top: 10px;
    /* border: 2px solid red; */
    padding: 10px;
    font-size: 15px;
    color: white;
}

.lil button a {
    margin-top: 20px;
    border: 2px solid grey;
    color: chocolate;
    font-size: 20px;
    text-decoration: none;

}

.design h6 {
    color: chocolate;
}

.design h1 {
    color: white;
    margin-top: 5px;
    font-size: 30px;
    transition: 2s;

}

.design h1:hover {

    transform: scale(1.2);
    color: brown;
    transition: 2s;
}

.design p {
    margin-top: 5px;
}

.design small a {
    margin-top: 10px;
    color: chocolate;
    text-decoration: none;
    /* list-style-type: none; */
}

.design i {
    position: fixed;
    bottom: 200px;
    right: 0;
    padding: 10px;
    margin-right: 50px;
    font-size: 30px;
    color: white;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.skill {
    /* border: 2px solid red; */
    display: flex;
    margin-right: 50px;
    /* padding: 20px; */
}

.skill .btn {
    padding: 20px;
    /* margin-right: 50px; */
    /* border: 2px solid red; */
    background-color: rgb(90, 89, 89);
    /* color:white; */
    width: 20vw;
    height: 30vh;
    font-size: 30px;
    overflow: none;
    margin-top: 20px;
    margin-left: 50px;
}

.skill .btn i {
    margin-left: 50px;
    margin-top: 30px;
    background: none;
    font-size: 50px;
}

.skill .btn h5,
small {
    background: none;
}

.me h6,
h1 {
    /* margin-left: 50px; */
    /* border: 2px solid red; */
    padding: 5px;
    /* text-align: center; */

}

.me h6 {
    color: chocolate;
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
}

.me h1 {
    font-size: 40px;
    color: white;
}

.exp {
    display: flex;
    /* border: 2px solid blue; */
    margin: 0;
}

.exp .btcm {
    padding: 50px;
    /* border: 2px solid blue; */
    font-size: 50px;
    place-content: center;
    color: chocolate;
}

.exp .btcm:nth-child(1) {
    /* margin-left: 20px; */
    /* border: 2px solid blue; */
    margin-right: 100px;
    align-items: center;
    top: 10px;
}

.exp .btcm:nth-child(2) {
    /* margin-left: 20px; */
    /* border: 2px solid blue; */
    margin-right: 100px;
    align-items: center;
    top: 10px;
}

.exp .btcm:nth-child(3) {
    /* margin-left: 20px; */
    /* border: 2px solid blue; */
    margin-right: 100px;
    align-items: center;
    top: 10px;

}

.exp .btcm h5 {
    font-size: 20px;
    color: white;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big h6 {
    text-align: center;
    color: chocolate;
    margin-right: 110px;
}

.big h1 {
    margin-left: 50px;
    color: white;
    transition: 2s;

}

.big h1:hover {
    color: darkkhaki;
    margin-left: 5px;
    transition: 2.5s;
    cursor: pointer;
}

.cas {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    list-style-type: none;
    margin-right: 50px;
}

.cas li a {
    text-decoration: none;
    color: grey;
    padding: 10px;
}

.cas li a:hover {
    text-decoration: underline;
    color: chocolate;
}

.picture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 30px;
}

.picture img {
    width: 30vw;
    height: 60vh;
    padding: 10px;
}

.pic-2 img {
    width: 40vw;
    height: 121vh;
}

.pic-3 img {

    width: 27vw;
    height: 121vh;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom .lit {
    text-align: center;
    margin-top: 20px;
}

.bottom .lit h6 {
    color: rgb(51, 83, 24);
}

.bottom .lit h1 {
    color: white;
    transition: 2s;

}

.bottom .lit h1:hover {
    transform: scale(1.2);
    transition: 2s;
    color: brown;
}

.photo {

    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 30px;
}

.photo h3 {
    color: rgb(107, 170, 5);
}

.photo img {
    padding: 10px;
}

.photo .poc-1 img {

    width: 20vw;
    height: 30vh;
}

.photo .poc-2 img {

    width: 20vw;
    height: 30vh;
}

.photo .poc-3 img {

    width: 20vw;
    height: 30vh;
}

.photo .poc-4 img {

    width: 20vw;
    height: 30vh;
}

.photo .poc-5 img {

    width: 20vw;
    height: 30vh;
}

.other {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid blue; */
    grid-template-columns: 1fr 1fr 1fr;
    /* display: inline-block; */
}

.poc-1,
.poc-2,
.poc-3,
.poc-4,
.poc-5,
.poc-6 {
    position: relative;

}

.photo .small {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;

}

.photo a {
    color: rgb(19, 109, 46);
    text-decoration: none;
}

.photo i {
    margin-left: 10px;
    color: rgb(45, 83, 23);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(29, 28, 28);
    /* border: 2px solid red; */
}

.foot h6 {
    color: rgb(11, 75, 11);
    font-size: 20px;
    text-align: center;
    margin-right: 50px;
}

.foot h1 {
    color: white;
    margin-left: 20px;
}

.contacts {
    margin-top: 20px;
}

.contacts i {
    padding: 10px;
    /* border: 2px solid red; */
    color: white;
    background: rgb(29, 28, 28);
    margin-bottom: 10px;
    /* gap: 15px; */

}

.contacts i a {
    /* border: 2px solid red; */
    color: chocolate;
    text-decoration: none;
    list-style-type: none;
    margin-left: 10px;
    font-size: 20px;
    /* gap: 15px; */
}

.down {
    margin-top: 20px;
    margin-bottom: 20px;

}

.down a {
    margin-right: 100px;
    color: lightgray;
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
}

.down a:hover {
    text-decoration: underline;
}

hr {
    font-size: 20px;
    width: 100vw;
}


.copy {
    margin-top: 5px;
    color: lightgray;
    margin-right: 60px;
}

/* Utility Classes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* Background Images */
.bg-flp {
    background-image: url("../flp.jpg");
}

.bg-seek {
    background-image: url("../seek.jpg");
}

.bg-modern {
    background-image: url("https://cdn.usegalileo.ai/stability/f73713d6-6661-4cea-8eef-607df85c836d.png");
}

.bg-comfort {
    background-image: url("https://cdn.usegalileo.ai/stability/5bc81c57-6307-4361-a2be-3368af16e291.png");
}

.bg-gladys {
    background-image: url("https://cdn.usegalileo.ai/stability/565ceba1-6f80-41e6-9f66-d18c23ff690f.png");
}

.bg-brian {
    background-image: url("../boom.jpg");
}

.bg-faith {
    background-image: url("https://cdn.usegalileo.ai/stability/5a5d47e2-582c-4735-a27d-b6e7c30c3f34.png");
}

/* Marquee Replacement */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee-content {
    display: inline-block;
    animation: marquee-right 10s linear infinite;
}

@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


/* Consolidated Styles */
.page-header {
    text-align: center;
    color: rgb(20, 20, 36);
    font-size: 50px;
    background: #2b302d;
    width: 100%;
    padding: 10px 0;
    /* Changed from height: 100% to valid padding */
    font-family: "Algerian", serif !important;
    margin: 0;
}

.section-header {
    text-align: center;
    color: rgb(42, 50, 61);
    font-size: 30px;
    background: #4d4f52;
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-family: "Algerian", serif !important;
    text-shadow: 2px 2px 4px #000000;
}

img.animated-image {
    animation: fadeIn 20s ease-in-out, bounce 10s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 1.5;
    }

    /* Note: Opacity > 1 is treated as 1 */
    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-20px);
    }
}


/* --- Consolidated Styles from other HTML files --- */

/* about.html Styles */
.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.image-row img {
    width: 200px;
    height: auto;
}

.team-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.team-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #dbc7c7;
}

.team-subtitle {
    font-size: 18px;
    color: #000000;
    margin-bottom: 50px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.team-member {
    text-align: left;
    position: relative;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
    color: #d6c8c8;
}

.member-title {
    font-size: 16px;
    color: #bdb6b6;
    margin-bottom: 10px;
}

.member-description {
    font-size: 14px;
    color: #c5bbbb;
    line-height: 1.5;
}

.team-member::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    opacity: 0.1;
}

.mission-section {
    padding: 100px 5%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.mission-image {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.mission-image img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.mission-content {
    flex: 1;
    min-width: 300px;
}

.section-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 16px;
}

.mission-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.2;
}

.mission-content p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
}


/* login.html Styles */
.login-body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #e2e8f0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image:
        radial-gradient(circle at 10% 20%, rgba(138, 43, 226, 0.15) 0%, transparent 30%),
        radial-gradient(circle at 90% 80%, rgba(0, 191, 255, 0.15) 0%, transparent 30%);
    background-color: #0f0f1a;
}

.login-card {
    background: rgba(20, 22, 36, 0.95);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    width: 420px;
    padding: 48px 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.login-card h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #0f0f1a;
    margin-bottom: 8px;
    background-color: #7c3aed;
}

.login-card p.subtitle {
    text-align: center;
    color: #94a3b8;
    margin-bottom: 32px;
}

.login-input-group {
    margin-bottom: 20px;
}

.login-input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #cbd5e1;
}

.login-input-group input {
    width: 100%;
    padding: 14px 16px;
    background: rgba(30, 32, 48, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s;
}

.login-input-group input:focus {
    outline: none;
    border-color: #8b5cf6;
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.2);
}

button.login-primary {
    width: 100%;
    padding: 14px;
    background: #8b5cf6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s;
}

button.login-primary:hover {
    background: #7c3aed;
}

.login-divider {
    text-align: center;
    margin: 32px 0;
    color: #64748b;
    position: relative;
}

.login-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}

.login-divider span {
    background: rgba(20, 22, 36, 0.95);
    padding: 0 16px;
}

.login-footer {
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
    color: #64748b;
}

.login-footer a {
    color: #8b5cf6;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

/* =========================================
   RESPONSIVE STYLES
   ========================================= */

/* Mobile Navigation Logic */
.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 1rem;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Tablet & Mobile Breakpoint */
@media (max-width: 768px) {

    /* Navigation */
    nav {
        flex-wrap: wrap;
        align-items: center;
        padding: 0 20px;
    }

    .hamburger {
        display: block;
        order: 1;
    }

    .brand {
        flex: 1;
        font-size: 24px;
        color: white;
        text-decoration: none;
        align-self: center;
    }

    nav .header {
        display: none;
        /* Simplify header on mobile */
    }

    nav .left {
        width: 100%;
        order: 3;
    }

    nav .left .list {
        display: none;
        /* Hidden by default */
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #2b302d;
        padding: 20px 0;
    }

    /* Show menu when checked */
    #nav-toggle:checked~.left .list {
        display: flex;
    }

    .list li a {
        display: block;
        padding: 15px;
        font-size: 18px;
    }

    /* General Layout Stacking */
    section {
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
        padding: 0 20px;
        position: relative;
        /* Remove sticky */
    }

    /* Hero Section */
    .lil {
        text-align: center;
        width: 100%;
    }

    .lil h1 {
        font-size: 40px !important;
    }

    .image img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .design {
        text-align: center;
        padding: 20px;
    }

    .design i {
        position: static;
        display: block;
        text-align: center;
        margin: 20px auto;
    }

    /* Stats Section */
    .exp {
        flex-direction: column;
        align-items: center;
    }

    .exp .btcm {
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    /* Services & Skills */
    .skill {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .skill .btn {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .skill .btn i {
        margin-left: 0;
    }

    /* Portfolio/Images Grid */
    .picture {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .picture img,
    .pic-2 img,
    .pic-3 img {
        width: 100%;
        height: auto;
    }

    /* Latest News */
    .photo,
    .other {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .photo div {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .photo img {
        width: 100% !important;
        height: auto !important;
    }

    /* Footer */
    footer .down {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    footer .down a {
        margin-right: 0;
    }

    /* Headers */
    .page-header {
        font-size: 30px;
    }

    .team-section1 {
        padding: 60px 5%;
    }

    .services-section {
        flex-direction: column;
        gap: 40px;
    }

    .services-left h2 {
        font-size: 36px;
    }

    /* About Page Specifics */
    .mission-section {
        flex-direction: column;
        padding: 40px 20px;
    }

    .mission-image,
    .mission-content {
        width: 100%;
    }
}